.menu {
  width: 100%;
  float: left;
  margin-bottom: 1%;
  background-color: black;
}
.anchor-top {
  top: 0px;
  position: fixed;
}
.menu button {
  margin: 2px 3px;
  background-color: white;
  border: 3px solid white;
  float: right;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.menu button:hover {
  border: 3px solid rgb(223, 145, 21);
}
.menu .current-button {
  background-color: rgb(223, 145, 21);
  color: white;
}
.menu .current-button:hover {
  border: 3px solid white;
}
@media only screen and (max-width: 1204px) {
}
@media only screen and (max-width: 722px) {
}
