.preview-panel-group {
  background-color: rgb(228, 227, 227);
  /* border: 3px solid black; */
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.preview-panel-group .preview-panel {
  margin: 0;
}
.preview-panel-group #col-left .text-panel-group,
.preview-panel-group #col-center .text-panel-group,
.preview-panel-group #col-right .text-panel-group {
  margin-bottom: 0.5em;
}
.preview-panel-group #col-left .preview-panel,
.preview-panel-group #col-center .preview-panel,
.preview-panel-group #col-right .preview-panel {
  float: none;
  width: 100%;
}
.preview-panel-group #col-left {
  width: 32%;
  float: left;
  margin: 0.3em;
}

.preview-panel-group #col-center {
  width: 32%;
  float: left;
  margin: 0.3em;
}
.preview-panel-group #col-right {
  width: 32%;
  float: left;
  margin: 0.3em;
}
.preview-panel-group .text-panel-group {
  padding: 0;
  margin: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
@media only screen and (max-width: 1300px) {
  .preview-panel-group {
    margin-left: 3%;
    margin-right: 3%;
  }
  .preview-panel-group #col-left,
  .preview-panel-group #col-center,
  .preview-panel-group #col-right {
    width: 48%;
  }
}
@media only screen and (max-width: 730px) {
  .preview-panel-group #col-left,
  .preview-panel-group #col-center,
  .preview-panel-group #col-right {
    width: 99%;
  }
}
