.preview-panel-group {
  /* border: 3px solid black; */
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.preview-panel-group .preview-panel {
  margin: 0;
}
.preview-panel-group #col-left .preview-panel,
.preview-panel-group #col-center .preview-panel,
.preview-panel-group #col-right .preview-panel {
  float: none;
  width: 100%;
}
.preview-panel-group #col-left {
  width: 32%;
  margin: 0.3em;
  display: inline-block;
  vertical-align: top;
}

.preview-panel-group #col-center {
  width: 32%;
  margin: 0 0.3em;
  display: inline-block;
  vertical-align: top;
}
.preview-panel-group #col-right {
  width: 32%;
  margin: 0 0.3em;
  display: inline-block;
  vertical-align: top;
}
.preview-panel-group .text-panel-group {
  padding: 0;
  margin: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
@media only screen and (max-width: 1400px) {
  .preview-panel-group {
    margin-left: 3%;
    margin-right: 3%;
  }
  .preview-panel-group #col-left,
  .preview-panel-group #col-center,
  .preview-panel-group #col-right {
    width: 48%;
  }
}
@media only screen and (max-width: 1050px) {
  .preview-panel-group #col-left,
  .preview-panel-group #col-center,
  .preview-panel-group #col-right {
    width: 99%;
  }
}
