.preview-panel {
  width: 31%;
  margin: 0.3em;
}
.preview-panel .text-panel-group {
  width: 100%;
}
.preview-panel button {
  padding: 0;
  width: 100%;
  font-size: 2.063em;
  background-color: white;
  border: 3px solid white;
  border-top: 2px solid black;
  margin-bottom: 0.3em;
}
.anchor-left ::-webkit-scrollbar-thumb {
  background: rgb(223, 145, 21);
}
.anchor-left {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 78%;
  background-color: white;
}
.anchor-left button {
  margin: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 10.5%;
}
.anchor-left .preview-panel-scroll {
  float: left;
  height: 100%;
  direction: rtl;
  overflow-y: scroll;
  background-color: white;
}
.preview-panel button:hover {
  border: 3px solid rgb(223, 145, 21);
  border-top: 2px solid rgb(223, 145, 21);
}
.preview-panel .image-slide-container {
  height: 300px;
}
.preview-panel .image-slide {
  background-color: white;
}
.preview-panel .text-container p {
  border: none;
  text-align: center;
}
.preview-panel .text-container b {
  float: left;
}
.preview-panel h1 {
  height: 15%;
  margin: 0px;
  font-size: 1.7em;
}
.preview-panel .text-panel-group h1 {
  margin: 0px 0.5em;
  font-size: 1.7em;
}
@media only screen and (max-width: 1590px) {
  .preview-panel {
    width: 47%;
  }
}
@media only screen and (max-width: 810px) {
  .preview-panel {
    width: 95%;
  }
}
