.text-panel-group {
  background-color: white;
  border: 3px solid black;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
  margin-top: 1%;
  float: left;
}
.text-panel-group #left {
  float: left;
  width: 39%;
  height: 100%;
  padding-left: 1%;
}
.text-panel-group #right {
  float: right;
  width: 59%;
  height: 100%;
}
.text-panel-group #left-reversed {
  float: left;
  width: 59%;
  height: 100%;
}
.text-panel-group #right-reversed {
  float: right;
  width: 39%;
  height: 100%;
  padding-right: 1%;
}
.text-panel-group #left-reversed .image-slide-container,
.text-panel-group #right-reversed .image-slide-container,
.text-panel-group #left .image-slide-container,
.text-panel-group #right .image-slide-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 30em;
  text-align: center;
  background-color: white;
}
.text-panel-group #left-reversed .image-slide,
.text-panel-group #right-reversed .image-slide,
.text-panel-group #left .image-slide,
.text-panel-group #right .image-slide {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  visibility: visible;
  border: 3px solid black;
  border-radius: 50%;
}
.text-panel-group h1 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 1%;
}
.text-panel-group .text-container {
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.text-panel-group p,
.text-panel-group .text-container p {
  border: 3px solid black;
  background-color: white;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0%;
  text-align: left;
  padding: 5px;
  font-size: 22px;
}
.text-panel-group p {
  text-align: center;
  border: none;
}
.text-panel-group .text-container b {
  color: black;
}
@media only screen and (max-width: 1300px) {
  .text-panel-group {
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media only screen and (max-width: 1023px) {
  .text-panel-group #left-reversed .image-slide,
  .text-panel-group #right-reversed .image-slide,
  .text-panel-group #left .image-slide,
  .text-panel-group #right .image-slide,
  .text-panel-group #left-reversed .image-slide-container,
  .text-panel-group #right-reversed .image-slide-container,
  .text-panel-group #left .image-slide-container,
  .text-panel-group #right .image-slide-container {
    width: 0%;
    height: 0%;
    visibility: hidden;
  }
  .text-panel-group #right-reversed,
  .text-panel-group #left {
    width: 0%;
    height: 0%;
  }
  .text-panel-group #left-reversed,
  .text-panel-group #right {
    float: center;
    width: 100%;
    height: 100%;
  }
  .text-panel-group {
    padding-bottom: 0%;
  }
}
