.text-container {
  /* background-color: rgb(223, 145, 21); */
  text-align: center;
  float: left;
  width: 100%;
}
.text-container p {
  border: 3px solid black;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  padding: 5px;
}
.text-container b {
  color: blue;
}
@media only screen and (max-width: 1300px) {
  .text-container p {
    margin-left: 3%;
    margin-right: 3%;
  }
}
