body {
  background-color: rgb(223, 145, 21);
}
p {
  margin: 0px;
}
#missie-en-visie .text-panel-group .text-container b,
#missie-en-visie .text-panel-group h1 {
  color: blue;
}
button {
  outline: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 228, 228);
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
